include includes/_variable
    include includes/_header
    include includes/_slide
    .container
      include includes/_out-standing
      include includes/_discount
      include includes/_banner
      include includes/_new
      include includes/_articles
    include includes/_footer