include includes/_variable
doctype html
html(lang='en', dir='ltr')
  head
    include includes/_head
  body
    include includes/_header   
    .container
      include includes/_out-standing     
      include includes/_discount    
      include includes/_banner    
      include includes/_new    
      include includes/_articles  
    include includes/_footer