-const icons = ['fab fa-facebook', 'fab fa-twitter' ,'fab fa-tumblr' , 'fab fa-vimeo']
-const data= {11:'cây danh tự',12:'cây cọ ta',13:'cây xương rồng',14:'cây dạ lam',15:'cây danh dự',10:'cây danh tự'}
-const data2= {2:'cây cây cái đmm à?',7:'cây đéo biết',10:'cây cần sa' ,11:'tao smoke',12:'like a OG',13:'cây xương rồng',14:'cây dạ lam',15:'cây danh dự',10:'cây danh tự'}
-const data3= {14:'cây dạ lam',15:'cây danh dự',10:'cây danh tự',11:'cây danh tự',12:'cây cọ ta',13:'cây xương rồng',}
doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Green Shop
    link(rel='stylesheet', href='../style/nomarlize.css')
    link(rel='stylesheet', href='../style/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
  body
    include includes/_header
    .container
      include includes/_out-standing
      include includes/_discount
      include includes/_banner
      include includes/_new
      include includes/_articles
    include includes/_footer