@import 'components/variables.scss';
@import 'components/fonts.scss';
@import 'components/mixins.scss';
@import 'components/effects.scss';
.border{
    @include border;
}
.status-bar{
    background: $black-1;
    color: $grey-1;
    height: 31px;
    a{
        border:1px solid $grey-1;
        color:$grey-1;
        padding: 8px 13px;
        font-size: 12pt;
        &:hover{
            color:$white-1;
            text-decoration: none;
        }
    }
    .float-sm-left{
        margin-left: 10%;
        .contact-icons{
            display: inline-block;
            margin-left: 32px;
        }
    }
    .float-sm-right{
        margin-right: 10%;
    }
}
.banner{
    color:$white-1;
    .float-sm-left{
        margin-left: 10%;
        h1{
            font-family: VNF_Museo;
            font-size: 53.84pt;
            color:$green-nav;
            span{
                font-family: VNFShelia;
            }
        }
        p{
            font-family: 'Roboto', sans-serif;
            color:$grey-1;
            font-size: 18pt;
        }
    }
    .float-sm-right{
        margin-right: 10%;
        margin-top: 35px;
        p{
            font-family: 'Roboto', sans-serif;
            color:$grey-1;
            font-size: 16pt;
            text-transform: uppercase;
        }
        input[type="search"]{
            border-radius: 40px;
            display: inline-block;
            width: 70%;
            padding: 0 20px;
        }
        .cart{
            display: inline;
            a{
                font-family: sans-serif;
                text-decoration: none;
                color:$grey-1;
                font-size: 12pt
            }
        }
    }
}
nav{
    background: $green-nav;
    .nav-item{
        padding: 0 45px;
        list-style-type: none;
        &:hover{
            background: $green-nav-hover;
        }
        a{
            color:$white-1;
            font-size: 12pt;
            text-decoration: none;
        }
    }    
}
.slide{
    width: 100%;
    height: 585px;
	position: relative;
	overflow: hidden;
    background: url(../images/slide-1920x590.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.outstanding--product{
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border:1px solid $white-1;
    img{
        width: 100%;
    }
    @include hover_largeBox(95%,75%,2%,45%,30%);
}
.medium--product{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 12px;
    border:1px solid $white-1;
    img{
        width: 100%;
    }i{
        color:$gold;
    }
    @include hover_largeBox(89%,58%,4%,40%,10%);
}
.small--product{
    border:1px solid $white-1;
    padding: 0;
    margin:10px 0;
    img{
        width: 40%;
        height: 100%;
        float: left;
    }
    p{
        margin-bottom: 7px;
    }i{
        color:$gold;
    }
    @include hover_largeBox(95%,100%,0,30%,10%);
}
.product--banner{
    margin-top: 18px;
}
.articles{
    img{
        width: 100%;
        padding: 20px 0;
    }
}
footer{
    background: $footer;
    color:$grey-1;  
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-top: 50px;
        .info-left{
            padding-top: 20px;
            padding-left: 10%;
            p{
                margin:0;
            }
            a{
                margin-right: 20px;
            }
            .contact-icons a{
                color:$white-1;
                font-size: 13pt;
            }  
        }
        .info-right{
            padding-top: 20px;
            padding-right: 8%;
            text-transform: uppercase;
            display: inline-block;
            p{
                display: inline-block;         
            }
            span{
                display: block;
            }
            input[type="text"]{
                display: inline-block;
                width: 57%;
            }
        }
    .our--information{
        border-top: 1px solid $white-1;
        color:$grey-1;
        .float-sm-left{
            margin-left: 10%;
            width: 30%; 
            h1{
                font-family: VNF_Museo;
                font-size: 45.84pt;
                color:$green-nav;
                span{
                    font-family: VNFShelia;
                }
            }
            h3{
                font-family: 'Roboto', sans-serif;
                color:$grey-1;
                font-size: 13pt;
            }
            p{
                display: block;
            }
        }
        .float-sm-right{
            margin-right: 0;
            ul{
                display: inline-block;
                p{
                    color:$green-nav;
                    font-size: 12pt;
                }
                li{
                    font-size: 10pt;
                    list-style-type: none;
                    text-transform: capitalize;
                    padding-top: 20px;
                    a{
                        color:$grey-1;
                        &:hover{
                            color:$white-1;
                            background: $green-nav-hover;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .menu--bottom{
        border-top: 1px solid $white-1; 
        .info--1{
            padding-left: 9%;
            p{
                font-size: 10pt;
                text-transform:capitalize ;
                display: inline-block;
                padding: 0 5px;
            }
        }
        .info--2{
            padding-left: 40%;
            i{
                font-size: 10pt;
                padding: 0 5px;
            }
        }
    }
    .author{
        background:#434343;
        p{
            text-align: center;
            display: block;
            text-transform: capitalize;
            padding-top: 15px;
            color:$white-1;
        }
    }
}