@font-face {
  font-family: VNFShelia;
  src: url(../fonts/VNF\ Sheila.ttf); }
@font-face {
  font-family: VNF_Museo;
  src: url(../fonts/VNF_Museo\ Slab\ 500.ttf); }
@font-face {
  font-family: uvf_gulyesa_script;
  src: url(../fonts/UVF\ SlimTony.ttf); }
.title {
  font-size: 16.24pt;
  font-family: 'roboto';
  font-weight: bold;
  color: #3fb871;
  padding-top: 40px;
  text-transform: capitalize; }

.row {
  padding: 0;
  margin: 0; }

.new-tag {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 7%;
  left: 15%;
  z-index: 2;
  background: #3fb871; }
  .new-tag p {
    color: #f2f2f2;
    font-size: 15pt;
    padding-top: 7px;
    margin: 0; }

.discount-tag {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 7%;
  left: 15%;
  z-index: 2;
  background: #d64146; }
  .discount-tag p {
    color: #f2f2f2;
    font-size: 15pt;
    padding-top: 7px;
    margin: 0; }

.price {
  color: #d64146;
  font-weight: bold; }

s {
  font-size: 10pt;
  color: #898989; }

.border {
  display: block;
  width: 100%;
  height: 5px;
  background: #3fb871;
  border-radius: 40px; }

.status-bar {
  background: #202020;
  color: #898989;
  height: 31px; }
  .status-bar a {
    border: 1px solid #898989;
    color: #898989;
    padding: 8px 13px;
    font-size: 12pt; }
    .status-bar a:hover {
      color: #f2f2f2;
      text-decoration: none; }
  .status-bar .float-sm-left {
    margin-left: 10%; }
    .status-bar .float-sm-left .contact-icons {
      display: inline-block;
      margin-left: 32px; }
  .status-bar .float-sm-right {
    margin-right: 10%; }

.banner {
  color: #f2f2f2; }
  .banner .float-sm-left {
    margin-left: 10%; }
    .banner .float-sm-left h1 {
      font-family: VNF_Museo;
      font-size: 53.84pt;
      color: #3fb871; }
      .banner .float-sm-left h1 span {
        font-family: VNFShelia; }
    .banner .float-sm-left p {
      font-family: 'Roboto', sans-serif;
      color: #898989;
      font-size: 18pt; }
  .banner .float-sm-right {
    margin-right: 10%;
    margin-top: 35px; }
    .banner .float-sm-right p {
      font-family: 'Roboto', sans-serif;
      color: #898989;
      font-size: 16pt;
      text-transform: uppercase; }
    .banner .float-sm-right input[type="search"] {
      border-radius: 40px;
      display: inline-block;
      width: 70%;
      padding: 0 20px; }
    .banner .float-sm-right .cart {
      display: inline; }
      .banner .float-sm-right .cart a {
        font-family: sans-serif;
        text-decoration: none;
        color: #898989;
        font-size: 12pt; }

nav {
  background: #3fb871; }
  nav .nav-item {
    padding: 0 45px;
    list-style-type: none; }
    nav .nav-item:hover {
      background: #36a66d; }
    nav .nav-item a {
      color: #f2f2f2;
      font-size: 12pt;
      text-decoration: none; }

.slide {
  width: 100%;
  height: 585px;
  position: relative;
  overflow: hidden;
  background: url(../images/slide-1920x590.png) no-repeat;
  background-size: cover;
  background-position: center; }

.outstanding--product {
  margin-top: 10px;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #f2f2f2; }
  .outstanding--product img {
    width: 100%; }
  .outstanding--product .box {
    position: absolute;
    width: 95%;
    height: 75%;
    top: 2%;
    background: #3232323a;
    opacity: 0;
    transition: 0.4s all; }
  .outstanding--product:hover > .box {
    opacity: 1; }
  .outstanding--product .btns {
    position: absolute;
    bottom: 45%;
    right: 30%;
    padding: 0 2px; }
    .outstanding--product .btns a {
      display: inline-block;
      font-size: 16pt;
      text-decoration: none;
      padding: 6px 12px; }
    .outstanding--product .btns .buy-now {
      padding: 30px;
      color: #f2f2f2;
      padding: 10px 20px;
      background: #3fb871;
      border-radius: 30px;
      text-transform: capitalize; }
    .outstanding--product .btns .search {
      color: #202020;
      background: #f2f2f2;
      padding: 10px 10px;
      border-radius: 50%; }

.medium--product {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #f2f2f2; }
  .medium--product img {
    width: 100%; }
  .medium--product i {
    color: gold; }
  .medium--product .box {
    position: absolute;
    width: 89%;
    height: 58%;
    top: 4%;
    background: #3232323a;
    opacity: 0;
    transition: 0.4s all; }
  .medium--product:hover > .box {
    opacity: 1; }
  .medium--product .btns {
    position: absolute;
    bottom: 40%;
    right: 10%;
    padding: 0 2px; }
    .medium--product .btns a {
      display: inline-block;
      font-size: 16pt;
      text-decoration: none;
      padding: 6px 12px; }
    .medium--product .btns .buy-now {
      padding: 30px;
      color: #f2f2f2;
      padding: 10px 20px;
      background: #3fb871;
      border-radius: 30px;
      text-transform: capitalize; }
    .medium--product .btns .search {
      color: #202020;
      background: #f2f2f2;
      padding: 10px 10px;
      border-radius: 50%; }

.small--product {
  border: 1px solid #f2f2f2;
  padding: 0;
  margin: 10px 0; }
  .small--product img {
    width: 40%;
    height: 100%;
    float: left; }
  .small--product p {
    margin-bottom: 7px; }
  .small--product i {
    color: gold; }
  .small--product .box {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    background: #3232323a;
    opacity: 0;
    transition: 0.4s all; }
  .small--product:hover > .box {
    opacity: 1; }
  .small--product .btns {
    position: absolute;
    bottom: 30%;
    right: 10%;
    padding: 0 2px; }
    .small--product .btns a {
      display: inline-block;
      font-size: 16pt;
      text-decoration: none;
      padding: 6px 12px; }
    .small--product .btns .buy-now {
      padding: 30px;
      color: #f2f2f2;
      padding: 10px 20px;
      background: #3fb871;
      border-radius: 30px;
      text-transform: capitalize; }
    .small--product .btns .search {
      color: #202020;
      background: #f2f2f2;
      padding: 10px 10px;
      border-radius: 50%; }

.product--banner {
  margin-top: 18px; }

.articles img {
  width: 100%;
  padding: 20px 0; }

footer {
  background: #313131;
  color: #898989;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: 50px; }
  footer .info-left {
    padding-top: 20px;
    padding-left: 10%; }
    footer .info-left p {
      margin: 0; }
    footer .info-left a {
      margin-right: 20px; }
    footer .info-left .contact-icons a {
      color: #f2f2f2;
      font-size: 13pt; }
  footer .info-right {
    padding-top: 20px;
    padding-right: 8%;
    text-transform: uppercase;
    display: inline-block; }
    footer .info-right p {
      display: inline-block; }
    footer .info-right span {
      display: block; }
    footer .info-right input[type="text"] {
      display: inline-block;
      width: 57%; }
  footer .our--information {
    border-top: 1px solid #f2f2f2;
    color: #898989; }
    footer .our--information .float-sm-left {
      margin-left: 10%;
      width: 30%; }
      footer .our--information .float-sm-left h1 {
        font-family: VNF_Museo;
        font-size: 45.84pt;
        color: #3fb871; }
        footer .our--information .float-sm-left h1 span {
          font-family: VNFShelia; }
      footer .our--information .float-sm-left h3 {
        font-family: 'Roboto', sans-serif;
        color: #898989;
        font-size: 13pt; }
      footer .our--information .float-sm-left p {
        display: block; }
    footer .our--information .float-sm-right {
      margin-right: 0; }
      footer .our--information .float-sm-right ul {
        display: inline-block; }
        footer .our--information .float-sm-right ul p {
          color: #3fb871;
          font-size: 12pt; }
        footer .our--information .float-sm-right ul li {
          font-size: 10pt;
          list-style-type: none;
          text-transform: capitalize;
          padding-top: 20px; }
          footer .our--information .float-sm-right ul li a {
            color: #898989; }
            footer .our--information .float-sm-right ul li a:hover {
              color: #f2f2f2;
              background: #36a66d;
              text-decoration: none; }
  footer .menu--bottom {
    border-top: 1px solid #f2f2f2; }
    footer .menu--bottom .info--1 {
      padding-left: 9%; }
      footer .menu--bottom .info--1 p {
        font-size: 10pt;
        text-transform: capitalize;
        display: inline-block;
        padding: 0 5px; }
    footer .menu--bottom .info--2 {
      padding-left: 40%; }
      footer .menu--bottom .info--2 i {
        font-size: 10pt;
        padding: 0 5px; }
  footer .author {
    background: #434343; }
    footer .author p {
      text-align: center;
      display: block;
      text-transform: capitalize;
      padding-top: 15px;
      color: #f2f2f2; }

/*# sourceMappingURL=style.css.map */
