@font-face {
    font-family: VNFShelia;
    src: url(../fonts/VNF\ Sheila.ttf);
}
@font-face{
    font-family:VNF_Museo ;
    src: url(../fonts/VNF_Museo\ Slab\ 500.ttf);
}
@font-face{
    font-family: uvf_gulyesa_script;
    src : url(../fonts/UVF\ SlimTony.ttf);
}