header
    .status-bar
      .float-sm-left
        | Open Time : 8:00-18:00 Mon-Sun 
        .contact-icons
        each icon in icons
          a(href='#')
            i(class=icon)
      .float-sm-right
        a(href='#')
          i.fas.fa-user  Đăng Nhập 
        a(href='#')
          i.fas.fa-user-plus  Đăng Ký
      .clearfix
    .banner
      .float-sm-left
        h1
          | Green 
          span Shop
        p Món quà từ thiên nhiên
      .float-sm-right
        p
          i.fas.fa-phone  Hỗ trợ :  (04) 6674 2332 - (04) 3786 8904
        input.form-control(type='search', placeholder='Tìm Kiếm ... ')
        .cart
          a(href='#')
            i.fas.fa-shopping-cart  0 Sản Phẩm
      .clearfix
    nav.navbar.navbar-expand-sm.justify-content-center
      ul.navbar-nav
        li.nav-item
          a(href='')
            i.fas.fa-bars
      -const nav = ['Trang Chủ','Giới Thiệu','Sản Phẩm','Sản Phẩm Mới','Tin Tức','Liên Hệ']
      each item in nav
        li.nav-item
          a(href='#')=item
    .slide   